<div id="login_register" class="prepend-6 append-6 span-12 last form-fat">
	<div class="round shadow mar10 facebook">
		<p class="first-line round">
			Sign In
			<span>using your facebook account</span>
		</p>
		<% if current_user %>
		  Welcome <%= current_user.name %>!
		  <%= link_to "Sign Out", signout_path %>
		<% else %>
			<dl>
				<dt> Connect with Facebook: </dt>
				<dd>
					<%= link_to image_tag("login-with-facebook-button.png"), "/auth/facebook" %>
				</dd>
			</dl>
		<% end %>
	</div>
	<!--
	<div class="round shadow mar10 login">
		<p class="first-line round">
			Sign In
		</p>
		<%= form_for(:session, :url => sessions_path) do |f| %>
		  <div class="field">
		    <%= f.label :email %>
		    <%= f.text_field :email %>
		  </div>
		  <div class="field">
		    <%= f.label :password %>
		    <%= f.password_field :password %>
		  </div>
		  <div class="actions">
		    <%= f.submit "Sign in", :class => 'button' %>
		  </div>
		<% end %>
	</div>
	-->
		<!-- <p>Don't have an account? <%#= link_to "Sign up now!", signup_path %></p> -->
		<!-- TODO forgot password -->
</div>