<header>
  <%= link_to logo, root_path %>
  <nav>
    <ul>
      <% if signed_in? %>
				<li><%= link_to "Dashboard", current_user %></li>
				<li><%= link_to "Settings", edit_user_path(current_user) %></li>
				<li><%= link_to "Browse tours", tours_path %></li>
				<li><%= link_to "Create a tour", new_tour_url %></li>				
				<li><%= link_to "How it works", help_path %></li>
        <li><%= link_to "Sign out", signout_path %></li>
      <% else %>
				<li><%= link_to "Sign Up", signup_path %></li>
        <li><%= link_to "Sign In", signin_path %></li>
				<li><%= link_to "Create a tour", new_tour_url %></li>
				<li><%= link_to "How it works", help_path %></li>
      <% end %>
    </ul>
  </nav>
</header>